@charset "UTF-8";


/* font */
html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}



/* reset */

* { margin: 0px; padding: 0px; 
	font-family: 'Noto Sans KR', sans-serif;
	list-style-type: none; text-decoration: none;
}
html,body { width: 100%;}


ul, li {
    list-style-type: none;
    text-decoration: none;
}



a {
    text-decoration: none; 
    outline: none;
    color: inherit; 
}

a:hover, a:active, a:visited{
    text-decoration: none; 
    color: inherit;
}

body {
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%; 
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form {
	box-sizing: border-box;
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
button {
	border: 0;
	background: transparent;
	cursor: pointer;
}



.clearfix:after {
    content: '';
    clear:both;
    display: block;
}


.blind {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    clip: rect(0 0 0 0); 
    overflow: hidden;
}


#i-am-progress-indicator {
    position:fixed; border-radius: 10px;
    top:0; left:0; height: 3px;
    background:linear-gradient(to right, #6EE5E5, #48B9F0);
    width:0%; transition: all ease-out 0.5s;
    box-shadow: 4px 4px 10px #D1D9E6, -4px -4px 10px #FFFFFF;
   
}

body::-webkit-scrollbar {
    width: 5px;
    background: #D6D6D6;
}
body::-webkit-scrollbar-thumb {
    background:linear-gradient(to right, #6EE5E5, #48B9F0);
    border-radius: 10px;
}   


body {
    color: #000000;
    background-color: #FFFFFF;
}

p {
    line-height: 1.6;
}

#wrap {
    width: 100%;
    overflow-x: hidden;
    min-width: 320px;
}





/* mobile-first */

.pc-img, .pc-cimg, .pc-gimg, .pc-imgbox {
    display: none;
}


/* header */

#header {
    position: absolute;
    height: 4.29rem;
    width: 100%;
    top: 0;
    margin: 0 auto;
    min-width: 320px;;
}

.head-area {
    width: 20.00rem;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 100%;
} 

.logo-box {
    width: 8.57rem;
    height: 2.86rem;
}

.nav-box {
    width: 1.71rem;
    height: 1.71rem;
    background: url(../images/m-menu.png) no-repeat;
    background-size: contain;
}

.nav-link, .btn-login {
    display: none;
}



/* container */

section > div {
    width: 20.00rem;
    margin: 0 auto;
}

/* intro-wrap */

.intro-box {
    width: 20.00rem;
    padding-top: 4.29rem;
    margin: 0 auto;
}

.int-st {
    font-size: 1rem;
}

.int-title {
    font-size: 1.71rem;
}

.level {
    display: none;
}

.intro-img {
    margin-bottom: 1.43rem;  
}


.int-top, .int-middle, .int-bottom, .int-from {
    word-break: keep-all;
}

.int-top {
    font-style: normal;
    font-weight: 900;
}

.int-top, .int-middle, .int-bottom {
    font-size: 0.86rem;
    line-height: 1.21rem;
}

.int-middle, .int-bottom {
    font-weight: normal;
}

.int-from {
    font-weight: 300;
    white-space: pre-wrap;
    font-size: 0.71rem;
}

.int-middle, .int-bottom {
    margin-bottom: 1rem;
}


.scroll-box {
    margin-top: 2.29rem;
    width: 100%;
    text-align: center;
}

.scroll-item {
    font-weight: 300;
    font-size: 0.71rem;
}

.scroll-item::after {
    content: '';
    width: 0.5rem;
    height: 0.4rem;
    margin-left: 0.3rem;
    display: inline-block;
    background: url(../images/mobile-scroll.png) no-repeat;
    background-size: contain;
}


/* prob-section */

.prob-box {
    padding-top: 3.43rem;
}

.prob-title {
    font-size: 1.43rem;
    margin-bottom: 1.43rem;
    text-align: center;
}


.prob-img, .solu-img {
    width: 9.29rem;
    height: 10.71rem;
    margin: 0 auto;
}







@media screen and (min-width: 100px) {
    html {
        font-size: 14px;
    }
    
}




@media screen and (min-width: 320px) {
    html {
        font-size: 4.3750vw;
    }
}

